.advantages {
  min-width: 280px;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}

.advantages__wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.advantages__item {
  padding: 0 20px;
  width: 33%;
  border-left: 1px solid #E5E5E5;
  &:last-child {
    border-right: 1px solid #E5E5E5;
  }
  &:hover {
    background: linear-gradient(#F6F6F6, #FFFFFF);
    .advantages__icon {
      color: #FF9800;
    }
  }
}

.advantages__item-description {
  max-width: 255px;
  margin: 0 auto 30px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #4C4C4C;
  font-weight: 300;
  text-align: center;
}

.advantages__icon {
  font-family: iconfont;
  font-size: 75px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 32px;
  color: #999999;
}

.advantages__icon-vkontakte {
  &:before {
    content: "";
    display: block;
  }
}

.advantages__icon-functions {
  &:before {
    content: "";
    display: block;
  }
}

.advantages__icon-playlist {
  &:before {
    content: "";
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .advantages__item {
    width: auto;
  }
  .advantages__item-description {
    margin: 0px auto 30px;
  }
}

@media screen and (max-width: 830px) {
  .advantages__wrapper {
    flex-direction: column;
  }
  .advantages__item {
    border-left: none;
    border-bottom: 1px solid #E5E5E5;
    &:last-child {
      border-bottom: none;
    }
  }
}
