@font-face {
  font-family: 'iconfont';
  font-path: 'fonts/iconfont/icomoon';
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-path: 'fonts/roboto/Roboto-Regular-webfont';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-path: 'fonts/roboto/Roboto-Medium-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-path: 'fonts/roboto/Roboto-Bold-webfont';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-path: 'fonts/roboto/Roboto-Black-webfont';
  font-weight: 900;
  font-style: normal;
}
