@font-face {
  font-family: 'iconfont';
  font-path: 'fonts/iconfont/icomoon';
  font-style: normal;
}

@font-face {
  font-family: 'interface';
  font-path: 'fonts/interface/interface';
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-path: 'fonts/roboto_regular/Roboto-Regular-webfont';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-path: 'fonts/roboto_medium/Roboto-Medium-webfont';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-path: 'fonts/roboto_bold/Roboto-Bold-webfont';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-path: 'fonts/roboto_black/Roboto-Black-webfont';
  font-weight: 900;
  font-style: normal;
}
